<mat-toolbar style="background: #2ab2b9; display: flex; justify-content: space-between;   box-shadow: 0.1rem 0.1rem 0.2rem #7b7b7b;
">

  <div *ngIf="this.email!=null">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="goAddLoc()">
        <span>Add a location</span>
      </button>
      <button mat-menu-item (click)="goLocList()">
        <span>Your locations</span>
      </button>
      <button mat-menu-item (click)="goEventList()">
        <span>Events</span>
      </button>
      <button mat-menu-item (click)="goApis()">
        <span>APIs</span>
      </button>
    </mat-menu>
  </div>

  <button mat-button class="buttonLogo" (click)="goEventList()">
    <img src="assets/images/logo.png" alt="Logo LookApp">
    LookApp
  </button>
  <div *ngIf="this.email!=null">
    <button mat-button [matMenuTriggerFor]="user" class="nameUser">{{this.email}}</button>
    <mat-menu #user="matMenu">
      <button mat-menu-item (click)="signOut()">
        <span>Sign out</span>
      </button>
      <button mat-menu-item (click)="deleteAccount()">
        <span>Delete account</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
