<mat-toolbar style="background: #2ab2b9; display: flex; justify-content: space-between">

  <div *ngIf="this.email!=null">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="goAddLoc()">
        <span>Add a location</span>
      </button>
      <button mat-menu-item (click)="goLocList()">
        <span>Active locations</span>
      </button>
      <button mat-menu-item (click)="goEventList()">
        <span>Events</span>
      </button>
      <button mat-menu-item (click)="goApis()">
        <span>APIs subscriptions</span>
      </button>
    </mat-menu>
  </div>

  <button mat-button class="buttonLogo" >
    <img src="assets/images/logo.png" alt="Logo LookApp">
    LookApp
  </button>
  <div style="display: flex; align-items: center" *ngIf="this.email!=null">
    <div class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
        <div class="nameUser">{{this.email}}</div>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item text-bg-secondary rounded" (click)="signOut()">Sign out</a></li>
        <li><a class="dropdown-item text-bg-danger rounded" (click)="deleteAccount()">Delete account</a></li>
      </ul>
    </div>
    <!--p class="nameUser">{{this.email}}</--p>
    <button mat-icon-button (click)="signOut()">
      <mat-icon>exit_to_app</mat-icon>
    </button-->
  </div>
</mat-toolbar>
