.spacer{
  width: 100%;
}

.buttonLogo{
  margin: auto;
  padding: 0;
  width:25%;
  z-index: 3;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  color: white;
  font-weight: bold;
  font-size: 2rem;
  align-items: end;
}

.buttonLogo img{
  width: 12%;
  padding: 0;
}

.nameUser{
  color: white;
  font-weight: bold;
}

.mat-icon{
  color: white !important;
}

