<mat-toolbar style="background: #2ab2b9; display: flex; justify-content: space-between">

  <div *ngIf="this.email!=null">
    <button mat-icon-button>
      <mat-icon aria-hidden="false" aria-label="Example user verified icon">settings</mat-icon>
    </button>
  </div>

  <button mat-button class="buttonLogo" >
    <img src="assets/images/DALL·E%202022-11-29%2014.51.44.png">
  </button>
  <div style="display: flex; align-items: center" *ngIf="this.email!=null">
    <p class="nameUser">{{this.email}}</p>
    <button mat-icon-button (click)="signOut()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>
