<div class="register registerBody container mt-5 rounded">
  <h1>Sign Up</h1>
  <form class="formReg" method="post">
    <input class="mb-1 mt-3 rounded"
      type="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Email"
      required="required"/>
    <input class="mb-2 rounded"
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Password"
      minlength="6"
      required="required"/>
    <button class="buttonWhite" type="submit" (click)="register()">Sign Up</button>
    <p class="mt-3">Already have an account? <a routerLink="/login">Login</a></p>
  </form>
</div>
