<div class="login loginBody">
  <h1>Log In</h1>
  <form class="fromReg" method="post">
    <input
      type="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Email"
      required="required"/>
    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Password"
      minlength="6"
      required="required"/>
    <button class="buttonWhite" type="submit" (click)="login()">Log In</button>
    <p>Don't have an account? <a routerLink="/register">Create and account</a></p>
    <a routerLink="/resetPassword">Forgot password?</a>
  </form>
</div>
