<div class="login loginBody  ">
  <label>Log In</label>
  <form class="formReg" method="post">
    <input class="mb-1 mt-3"
      type="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Email"
      required="required"/>
    <input class="mt-2"
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Password"
      minlength="6"
      required="required"/>
    <div>
      <button class="buttonWhite" type="submit" (click)="login()">Log In</button>
    </div>

    <p>Don't have an account? <a routerLink="/register">Create an account</a> <br>
      <a routerLink="/resetPassword">Forgot password?</a>
    </p>

  </form>
</div>
