.fromBody {
  background: #2ab2b9;
  width: fit-content;
  height: 12.3rem;
  margin: 3rem auto;
  border-radius: 7px;
  box-shadow: 0.1rem 0.1rem 0.2rem #7b7b7b;

}
.fromInterno{
  margin: auto;
  padding: 1.5rem 2rem;
  text-align: right;
}
.title{
  color: white;
  font-size: x-large;
  font-weight: bold;
}

.lavelInput{
  width: 100%;
  text-align: left;
  margin: auto;

}

.lavelInput input{
  font-size:medium;
  padding: 0.8rem 0.4rem;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.2rem #7b7b7b;
  width: 15.2rem;
  border-radius: 7px;
}
.separator{
  height: 0.8rem;
}
.buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input{
  display: flex;
}

.mat-icon{
  color: white;
}
