<div class="fromBody">
<div class="fromInterno">
  <div class="lavelInput">
    <label class="title"> Locations selector  </label>
    <div class="separator"></div>
    <div class="input">
      <div>
        <input
          type="text" [(ngModel)]="locationName"
          placeholder="Search for a Location"
          [formControl]="control"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let location of filteredLocations | async" [value]="location">
            {{location}}
          </mat-option>
        </mat-autocomplete>
      </div>
      <button mat-icon-button (click)="this.currentLocation()"><mat-icon>location_on</mat-icon></button>
    </div>
    <div class="separator"></div>
    <div class="buttons">
      <button (click)="goToList()"  class="buttonWhite">Active locations</button>
      <button (click)="onSubmit()" type="submit" class="buttonWhite">Search</button>
    </div>
  </div>
</div>
</div>
