@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

body {
  background: #303030;
  padding-top: 4rem;
  margin: 0;
  font-family: Arial, serif;
}

app-top-bar{
  width: 100%;
  top:0;
  position: fixed;
  display: flex;
}

