@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  background: image("assets/images/fondo.jpg");
  padding-top: 4rem;
  margin: 0;
  font-family: Oswald, serif;
  letter-spacing: 1px;
}

app-top-bar{
  width: 100%;
  top:0;
  position: fixed;
  display: flex;
}

.buttonWhite{
  background: white;
  border: none;
  color: #2ab2b9;
  padding: 0.8rem 1rem;
  font-weight: bold;
  font-size: medium;
  box-shadow: 0.1rem 0.1rem 0.2rem #7b7b7b;
  border-radius: 7px;
  height: fit-content;
  font-family: Oswald, serif;
  letter-spacing: 1px;
}
.buttonBlue{
  background: #2ab2b9;
  border: none;
  color: white;
  padding: 0.8rem 1rem;
  font-weight: bold;
  font-size: medium;
  box-shadow: 0.1rem 0.1rem 0.2rem #7b7b7b;
  border-radius: 7px;
  height: fit-content;
  font-family: Oswald, serif;
  letter-spacing: 1px;
}

.buttonBlue:hover{
  background: #259da2;
}
.buttonWhite:hover{
  background: #efefef;
}
