<div class="listBox">
  <div class="inBox">
    <h1>Active Location</h1>
    <li *ngFor="let location of locations" [ngClass]="location.isActive?'rowList':'rowList inactive'">
      <div class="information" [textContent]="location.alias +' ( '+location.name+' )' "></div>
      <div class="information" [textContent]="'Coordinates ( '+location.coordinates.lat+ ', '+location.coordinates.lon+' )' "></div>
      <div class="rowList">
        <form class="alias" (ngSubmit)="onSubmit()">
          <input type="text" [(ngModel)]="alias" placeholder="Change the alias">
          <button class="buttonWhite buttonList" type="submit">Change</button>
        </form>
        <mat-slide-toggle [(ngModel)]="location.isActive" (click)="changeActiveState(location)"></mat-slide-toggle>
        <button mat-icon-button><mat-icon >delete_forever</mat-icon></button>
      </div>
    </li>
  </div>
</div>
