<div class="listBox">
  <div class="inBox">
    <h1>Active Location</h1>
    <li *ngFor="let location of locations">
      <div class="lista" [textContent]="location.name+' ( '+location.coordinates.lat+ ', '+location.coordinates.lon+' )'"
           [ngClass]="location.isActive?'active':'inactive'" ></div>
      <mat-slide-toggle [(ngModel)]="location.isActive" (click)="changeActiveEstate(location)"></mat-slide-toggle>
      <button class="buttonList" mat-icon-button><mat-icon >delete_forever</mat-icon></button>
    </li>
  </div>
</div>
