.fromBody {
  background: #c2185b;
  width: 20rem;
  height: 9rem;
  margin: 4rem auto;
}
.fromInterno{
  height: 19.8rem;
  margin: auto;
  padding: 1.5rem 1rem 0 1rem;

}
.title{
  color: white;
  font-size: x-large;
  font-weight: bold;
}

.lavelInput{
  width: fit-content;
  text-align: left;
  margin: auto;

}

.lavelInput input{
  font-size:medium;
  padding: 0.8rem 0.4rem;
  border: none;
  box-shadow: 0.1rem 0.1rem 0 #303030;
  width: 13rem;
}
.separator{
  height: 0.7rem;
}




